# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.*
!.env.example

# Database backup
noteflow_backup.sql

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?